hl2/
cstrike/
bin/
sourceengine/
steam_cache/
garrysmod/cache/
*.mdmp
garrysmod/garrysmod_000.vpk
garrysmod/garrysmod_001.vpk
garrysmod/garrysmod_002.vpk
garrysmod/logs/
garrysmod/console.log
garrysmod/console.log
garrysmod/console.log
