hl2/
cstrike/
bin/
sourceengine/
steam_cache/
garrysmod/cache/
*.mdmp
garrysmod/garrysmod_000.vpk
garrysmod/garrysmod_001.vpk
garrysmod/garrysmod_002.vpk
garrysmod/logs/
garrysmod/console.log
garrysmod/console.log
garrysmod/console.log
garrysmod/data/serverguard/advertisements/advertisements.txt
garrysmod/data/serverguard/config/propprotection.txt
garrysmod/data/serverguard/config/reports.txt
garrysmod/data/serverguard/config/reservedslots.txt
garrysmod/data/serverguard/version.txt
garrysmod/data/ulib/groups.txt
garrysmod/data/ulx_logs/08-26-21.txt
garrysmod/modelsounds.cache/
garrysmod/data/serverguard/logs/
garrysmod/data/ulx_logs/
garrysmod/data/helix/logs/
*.cache
HL2RP.bat
srcds.exe
*.bsp
garrysmod/map.pack
garrysmod/sv.db
srcds.exe.lnk
garrysmod/data/helix/logs/08-27-21.txt
